
:root {
    --background-principal: rgb(0, 160, 0); /*Variable que puede ser usada en cualquier parte del archivo con la función var() */
    --color-letra: black; /*Variable que puede ser usada en cualquier parte del archivo con la función var() */
}

*{
    scroll-behavior: smooth;
    margin: 0; /*Se reinicia el margin de todos los elementos a 0 */
    padding: 0; /*Se reinicia el padding de todos los elementos a 0 */
    box-sizing: border-box; /*El width del elemento se calcula tomando en cuenta el padding y el border*/
    font-family: Arial, Helvetica, sans-serif /*Se define el font family para todos los elementos como Times New Roman (Puede ser otro diferente) */
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* HEADER */
.header {
    position: fixed; /*El elemento es fijado al viewport, es decir que si se hace scroll, el elmento seguirá en la posición fijada*/
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between; /* Los elementos del contenedor se envian hacia los lados */
    align-items: center;
    background-color:var(--background-principal) ;
    border: 2px solid black;
    padding: 0 0.5rem 0 2rem; /*TOP: 0px RIGHT: 8px BOTTOM: 0px LEFT: 32px*/
}

.logo-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    width: 40vw;
    grid-column-gap: 0.5rem;
   /* border: 2px solid rgb(0, 0, 0);*/
}

.navbar a {
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 40%;
    border-radius: 5rem;
    color: black;
    text-decoration: none;
}


.escondido {
    display: none;
}


#vermas{
    border-radius: 5rem;
    color: black;
    width: 50%;
    height: 40%;
    border: 2px solid rgb(0, 0, 0);
}

.link {
    
    width: 3rem;
    height: 50%;
    background: 50%;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;   
    font-weight: 900;
}

.link:hover {
    box-shadow: 0 0 2rem black;
    background-color: white;
    color: green;
    cursor: pointer; /* el puntero se convierte en una manito */
}

.imagen_logo{
 width: 3rem;
 height: 3rem;
}

.imagen_flechaabajo{
    width: 1.5rem;
    height: 1.5rem;
}

.imagen_fechaarriba{
    width: 2rem;
    height: 2rem;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*SECTIONS*/
section{
    display: flex;
    padding: 2rem;
    width:100vw;
    height: 100vh;
    /*border: 2px solid black;*/
    background-image: radial-gradient(green, white );
}

/*Section 1 Home*/
.seccion1{
    padding: 1rem;
    align-items: center;
    justify-content:space-around ; /* Se le da un margen igual a cada elemento del contenedor */
    
}

.s1_div1{
    width: 40%;
    height: 50%;
    padding: 1rem;
    margin: 3rem;
    align-items: center;
    text-align: center;
    /*border: 2px solid black;*/
}

.s1_div1 p{
    margin: 1rem;
}

.s1_div2{
    width: 80%;
    height: 60%;
    text-align: center;
    border-radius: 20%;

}

.s1_div2 img{
    width: 80%;
    height: 100%;
    align-items: center;
}


/*Section 2 Servicios*/
.seccion2{
    justify-content: center;
    flex-direction:column;
    align-items: center;
}

.titulo{
    display: flex;
    width: 40%;
    height: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;

}


.contenedor-servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    /*border: 2px solid rgb(0, 0, 0);*/ 
    flex-wrap: wrap;
    row-gap: 0.5rem;
}

.contenedor-servicios .servicio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 40%;
    border: 2px solid rgb(0, 0, 0);
    row-gap: 2rem;
    padding: 3.5rem;
    border-radius: 1rem;
}



/*Section 3 colaboradores*/

.seccion3{
    flex-direction:column;
    align-items: center;
}

.contenedor-colaborador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    /*border: 2px solid rgb(1, 158, 255);*/ 
    flex-wrap: wrap;
    border-radius: 1rem;
    row-gap: 2rem;
}

.contenedor-colaborador .colaborador{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 65%;
    border: 2px solid rgb(0, 0, 0);
    row-gap: 2rem;
    padding: 3.5rem;
    border-radius: 1rem;
}


.img-colaborador{
    display: flex;
    height: 50%;
    width: 50%;
}

.footer div{
    display: flex;
    justify-content:space-between;
    /*padding-right: 10rem;*/
    
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Boton WhatsApp*/
.botonw{
    position: fixed;
    bottom: 2rem;
    right: 0.5rem;
    width: 3rem;
    height: 3rem;
}

.botonw img{
    width: 100%;
    height: 100%;
}

/*Overflow:hidden;--->esconder bordes*/