
:root {
    --background-principal: green; /*Variable que puede ser usada en cualquier parte del archivo con la funci칩n var() */
    --color-letra: black; /*Variable que puede ser usada en cualquier parte del archivo con la funci칩n var() */
}

*{
    margin: 0; /*Se reinicia el margin de todos los elementos a 0 */
    padding: 0; /*Se reinicia el padding de todos los elementos a 0 */
    box-sizing: border-box; /*El width del elemento se calcula tomando en cuenta el padding y el border*/
    font-family: 'Times New Roman', Times, serif; /*Se define el font family para todos los elementos como Times New Roman (Puede ser otro diferente) */
    scroll-behavior: smooth;
}
/* HEADER */

.header {
    position: fixed; /*El elemento es fijado al viewport, es decir que si se hace scroll, el elmento seguir치 en la posici칩n fijada*/
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between; /* Los elementos del contenedor se envian hacia los lados */
    align-items: center;
    background-color: var(--background-principal);
    padding: 0 0.5rem 0 2rem; /*TOP: 0px RIGHT: 8px BOTTOM: 0px LEFT: 32px*/
}

.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Se le da un margen igual a cada elemento del contenedor */
    align-items: center;
    height: 100%;
    width: 40vw;
    padding: 1rem;
    background-color: var(--background-principal);
    grid-column-gap: 1rem;
}

.navbar a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*font-size: 1.2rem;*/
    width: 60%;
    height: 50%;
    border-radius: 5rem;
    text-align: center;

    
}

.link {
    display: flex;
    width: 50%;
    height: 50%;
    background: 50%;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;   
}

.link:hover {
    box-shadow: 0 0 2rem black;
    cursor: pointer; /* el puntero se convierte en una manito */
}

.imagen_logo{
 width: 3rem;
 height: 3rem;
}

.imagen_flechaabajo{
    width: 1.2rem;
    height: 1.2rem;
}

.imagen_fechaarriba{
    width: 2rem;
    height: 2rem;
}
html{
    /*font-size: 62.5%;*/
}

/*SECTIONS*/
section{
    display: flex;
    width:100vw;
    height: 100vh;
    border: 2px solid black;
}
/*Section 1*/
.seccion1{
    align-items: center;
    justify-content: center; /* Se le da un margen igual a cada elemento del contenedor */
}

.s1_div1{
    width: 40%;
    height: 40%;
    border: 4px solid black;
    align-items: center;
    text-align: center;
}
.s1_div2{
    width: 100%;
    height: 70%;
    text-align: center;
    border: 4px solid black;
}

.s1_div2 img{
    width: 50%;
    height: 100%;
}
/*Section 2*/
.seccion2{
    flex-direction:column;
}

.s2_div1{
    width: 100%;
    height: 7%;
    justify-content: center;
    align-items: center;
    border: 4px solid purple;
}

.s2_div1 h1{
    text-align: center;
}

.s2_div2{
    display: flex;
    width: 100%;
    height: 100%; 
    flex-wrap: wrap;
    align-content:space-around;
    justify-content: space-around; /* Se le da un margen igual a cada elemento del contenedor */
    border: 2px solid red;
}

.s2_div2 div{
    width: 30%;
    height: 28%;
    text-align: center;
    border: 4px solid rgb(9, 255, 0);
}


/*Section 3*/

.seccion3{
    flex-direction:column;
}

.s3_div1{
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid purple;
}

.s3_div2{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5rem;
    justify-content:space-between;
    border: 4px solid blue;
}

.colaborador{
    display: flex;
    width: 30%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid hwb(180 0% 0%);
}

.div_colaborador{
    display: flex;
    width: 8rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 4px solid grey;
}
.div_colaborador img{
    width: 4rem;
    height: 4rem;
}
/*Boton WhatsApp*/
.botonw{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
}

.botonw img{
    width: 100%;
    height: 100%;
}
